<div class="reset-password-container ">
    <div class="row template-container">
        <div [ngSwitch]="currentStep">
            <div class="error-message" *ngIf="errorMessageVisiblity">{{credentialErrorMsg}}</div>
            <p class="forgot-password-title">
                {{currentStep === 1?'Forgot password ? ':currentStep ===2 ?'Verification Code':'Change password '}}</p>
            <p class="forgot-password-text-content">
                {{currentStep === 1?' Enter your email below to receive password reset instructions':currentStep ===2
                ?'Please enter the Code sent to your email':'Enter and verify new password '}}
            </p>
            <ng-container *ngSwitchCase="1">
                <div class="container emailIdContainer">
                    <div class="container">
                        <div class="row">
                            <label class="form-label" for="emailAddress">Email Address:</label>
                            <input placeholder="Email" type="email" class="form-control " id="emailAddress"
                                [(ngModel)]="emailAddress" />
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="2">
                <div class="container">
                    <ngx-otp-input [config]="otpInputConfig" (otpChange)="handeOtpChange($event)"
                        (fill)="handleFillEvent($event)">
                    </ngx-otp-input>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="3">
                <div class="password-container">
                    <form [formGroup]="passwordValidatorForm">
                        <div class="mb-3">
                            <input placeholder="Enter password" [type]="isPasswordVisible ?'text':'password'"
                                id="password" formControlName="newPassword" class="form-control" required>
                            <span class="eye-holder">
                                <i class=" eye-icon " (mousedown)="passwordVisiblityChanger('password')"
                                    [class]="isPasswordVisible ? 'bi bi-eye-fill':'bi bi-eye-slash-fill'"
                                    (mouseup)="passwordVisiblityChanger('password')"></i></span>
                            <span class="decision-icon-style">
                                <i class="bi"
                                    [ngClass]="{'text-success bi-check-circle': isPasswordValid(), 'text-danger bi-x-circle': !isPasswordValid()}"></i>
                                <small class="form-text text-muted verify-class">
                                    Password should have minimum 8 characters and at
                                    least one
                                    capital
                                    letter, one small letter,
                                    and
                                    one symbol.</small>
                            </span>

                            <div class="mb-3">
                                <input [type]="isConfirmPasswordVisible ?'text':'password'" id="confirmPassword"
                                    formControlName="confirmPassword" class="form-control"
                                    placeholder="Confirm password" required>
                                <span class="eye-holder">
                                    <i class=" eye-icon "
                                        [ngClass]="isConfirmPasswordVisible?' bi bi-eye-fill':'bi bi-eye-slash-fill'"
                                        (mousedown)="passwordVisiblityChanger('confirmPassword')"
                                        (mouseup)="passwordVisiblityChanger('confirmPassword')"></i></span>
                                <span class="decision-icon-style">
                                    <i class="bi"
                                        [ngClass]="{'text-success bi-check-circle': isPasswordMatch(), 'text-danger bi-x-circle': !isPasswordMatch()}"></i>
                                    <small style="margin-left: 10px;" class="form-text text-muted">Password must match
                                        the above
                                        password.</small>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-container>
            <div class="row button-container">
                <!-- <button (click)="buttonClick(currentStep)" class="btn btn-primary button-container">
                    {{currentStep === 1?'Send code':'Verify code'}}</button> -->
                <app-spin-button (buttonEmitter)="buttonClick(currentStep)"
                    [buttonLabel]="currentStep === 1?'Send code':currentStep ===2 ?'Verify code':'Submit'"></app-spin-button>
            </div>
        </div>
    </div>
</div>